<app-navbar></app-navbar>
<div class="p-8"></div>
<div class="min-h-screen bg-gray-100 text-gray-800 p-6">
  <div class="flex justify-between items-center mb-6">
    <p class="text-red-500 text-lg">Bienvenido {{ user || 'Tutor' }}</p>
    <div class="text-right">
      <p class="text-gray-700">{{ fecha }}</p>
      <p class="text-red-500 text-2xl">{{ hora }}</p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
    <div class="border-2 border-gray-300 p-4 text-center rounded-lg">
      <p class="text-lg">Recibidos</p>
      <p class="text-red-500 text-4xl">{{ contadores.recibidos }}</p>
    </div>
    <div class="border-2 border-gray-300 p-4 text-center rounded-lg">
      <p class="text-lg">Respondidos</p>
      <p class="text-red-500 text-4xl">{{ contadores.respondidos }}</p>
    </div>
    <div class="border-2 border-gray-300 p-4 text-center rounded-lg">
      <p class="text-lg">Hora</p>
      <p class="text-red-500 text-4xl">{{ hora }}</p>
    </div>
  </div>

  <div class="bg-white p-6 rounded-lg shadow-lg">
    <h3 class="text-lg font-semibold mb-4">Lista derivaciones</h3>
    <ul class="space-y-4">
      <li *ngFor="let derivacion of derivaciones" class="flex justify-between items-center border-2 border-gray-300 p-4 rounded-lg">
        <p>{{ derivacion.motivo }}</p>
        <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600" (click)="openModal(derivacion.id)">Ver derivación</button>
      </li>
    </ul>
  </div>

  <!-- Añadimos el componente Modal -->
   <app-modal-ver-derivacion [isOpen]="isModalOpen" [derivacionId]="selectedDerivacionId" (close)="closeModal()"></app-modal-ver-derivacion>
</div>
