<!-- <nav class=" sticky top-0 z-50 w-full bg-blue-600 shadow-lg">

 <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex justify-between h-16">

    <ul class="flex items-center space-x-8">
      <li>
        <a routerLink="/profesor/inicio" routerLinkActive="font-bold" class="text-white hover:text-blue-100 transition-colors duration-200 font-medium text-sm flex items-cente">Inicio</a>
      </li>
      <li>
        <a routerLink="/profesor/estudiantes" routerLinkActive="font-bold" class="text-white hover:text-blue-100 transition-colors duration-200 font-medium text-sm flex items-cente">Estudiantes</a>
      </li>
      <li>
        <a routerLink="/profesor/derivaciones" routerLinkActive="font-bold" class="text-white hover:text-blue-100 transition-colors duration-200 font-medium text-sm flex items-cente">Derivaciones</a>
      </li>
      <li>
        <a routerLink="/profesor/historial" routerLinkActive="font-bold" class="text-white hover:text-blue-100 transition-colors duration-200 font-medium text-sm flex items-cente">Historial</a>
      </li>

    </ul>
    <div class="flex items-center">

        <button (click)="logout()" class="text-white hover:text-blue-100 transition-colors duration-200 font-medium text-sm px-4 py-2 rounded-md hover:bg-blue-700">Cerrar Sesión</button>

    </div>

  </div>
 </div>

</nav> -->

<nav class="bg-gray-800 text-white p-4 border-b-2 border-gray-400">
  <ul class="flex justify-center space-x-6">

    @if (role === 'profesor') {

      <li >
        <a routerLink="/profesor/inicio" routerLinkActive="font-bold" class="hover:text-orange-400">Inicio</a>
      </li>
    }
    @if (role === 'profesor') {
      <li >
        <a routerLink="/profesor/estudiantes" routerLinkActive="font-bold" class="hover:text-orange-400">Estudiantes</a>
      </li>
    }
    @if (role === 'profesor' ) {
      <li >
        <a routerLink="/profesor/derivaciones" routerLinkActive="font-bold" class="hover:text-orange-400">Derivaciones</a>
      </li>
    }
    @if (role === 'profesor') {
      <li >
        <a routerLink="/profesor/historial" routerLinkActive="font-bold" class="hover:text-orange-400">Historial</a>
      </li>
    }

    @if (role === 'tutor') {

      <li >
        <a routerLink="/tutor/inicio" routerLinkActive="font-bold" class="hover:text-orange-400">Inicio</a>
      </li>
    }

    @if ( role === 'tutor') {
      <li >
        <a routerLink="/tutor/ver-derivaciones" routerLinkActive="font-bold" class="hover:text-orange-400">Ver Derivaciones</a>
      </li>
    }


    @if (role === 'tutor') {
      <li >
        <a routerLink="/tutor/historial" routerLinkActive="font-bold" class="hover:text-orange-400">Historial</a>
      </li>
    }

    <li>
      <button (click)="logout()" class="hover:text-orange-400">Cerrar Sesión</button>
    </li>
  </ul>
</nav>
